.container {
  @apply px-8;
}

.main {
  @apply
    min-h-screen
    py-16
    flex-1
    flex
    flex-col
    justify-center
    items-center
  ;
}

.footer {
  @apply
    flex
    flex-1
    py-8
    border-t-white
    justify-center
    items-center
  ;
}

.footer a {
  @apply
    flex
    justify-center
    items-center
    grow
  ;
}

.title a {
  @apply 
    text-blue-500
    no-underline
  ;
}

.title a:hover,
.title a:focus,
.title a:active {
  @apply underline;
}

.title {
  @apply
    m-0
    leading-5
    text-7xl
  ;
}

.title,
.description {
  @apply text-center;
}

.description {
  @apply 
    my-16
    leading-6
    text-2xl
  ;
}

.code {
  @apply
    bg-white
    rounded-3xl
    p-3
    text-lg
  ;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  @apply
    flex
    items-center
    justify-center
    flex-wrap
    max-w-screen-md
  ;
}

.card {
  @apply
    m-4
    p-6
    text-left
    text-inherit
    no-underline
    border-solid border border-white rounded-xl
    transition-colors
  ;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
